<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    /*设置整体*/
     *{
        padding: 0;
        margin: 0;
        font-family: "微软雅黑";
    }
    /*设置header的div区*/
    .navbar{
        height: 72px ;
        text-align: center;
        background: rgba(38, 44, 51, 0.95);
    }
    .navbar ul {
        display: inline-block;
    }
    /*设置logo的div区*/
    .navbar .logo{
        color: #fff ;
        font-size: 30px ;
        font-weight:500 ;
        line-height: 72px ;
        margin-left: 20px ;
        display:inline-block ;
        float: left ;/*左浮动*/
    }
    /*设置li标签里*/
    .navbar ul li{
        float: left;
        color: #fff ;
        width: 112px ;
        height: 72px ;

        line-height:72px ;
        cursor: pointer ;/*光标显示成小手型*/
    }
    /*细节调整*/
    ul li{
        list-style: none ;/*li的小圆点去掉*/
        font-family: "微软雅黑";
        padding: 0 30px;
    }
    .navbar ul li.first{
        margin-left: 100px ;/*设置“首页”与“原创文字”间距*/
        background: rgba(25, 55, 77, 0.96);/*“首页”设置默认背景*/
    }


    /*设置a链接标签*/
    a{
        color: #fff ;
        text-decoration: none ;
        width: 20em;
    }
    /*设置导航添加hover事件*/
    .navbar ul li:hover{
         background: #0d1d2e;
    }
</style>
</head>
<body style="height: 100%; width: 100%;margin: 0;background-color: #0d1d2e">
    <div class="navbar">

        <ul>
            <li><a href="/air_quality">空气质量数据</a></li>
            <li><a href="/region_AQI">地区AQI平均值</a></li>
            <li><a href="/economic">宏观经济指标</a></li>
            <li><a href="/area_data">AQI及PM2.5</a></li>
        </ul>

    </div>

        <div id="container" style="height: 300px;width: 20%;float: right;"></div>
        <script type="text/javascript" src="../static/js/bmap.min.js"></script>
        <script type="text/javascript" src="../static/js/china.js"></script>
        <script type="text/javascript" src="../static/js/dark.js"></script>
        <script type="text/javascript" src="../static/js/echarts-gl.min.js"></script>
        <script type="text/javascript" src="../static/js/echarts.min.js"></script>
        <script type="text/javascript" src="../static/js/ecStat.min.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    title : {
        text: '空气质量',
        x:'center',
        textStyle: {
            color: '#fff',
            fontSize: 16
        }
    },
    textStyle: {
            color: '#fff',
            fontSize: 10
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['优','良','轻度污染','重度污染'],
        textStyle: {
            color: '#fff',
            fontSize: 12
        }
    },
    series : [
        {
            name: '空气质量',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:{{ data_air_quality|safe }},
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>

<div id="container2" style="height: 300px;width: 20%;float: right;position: absolute;right: 0;bottom: 0;"></div>
        <script type="text/javascript" src="../static/js/bmap.min.js"></script>
        <script type="text/javascript" src="../static/js/china.js"></script>
        <script type="text/javascript" src="../static/js/dark.js"></script>
        <script type="text/javascript" src="../static/js/echarts-gl.min.js"></script>
        <script type="text/javascript" src="../static/js/echarts.min.js"></script>
        <script type="text/javascript" src="../static/js/ecStat.min.js"></script>
       <script type="text/javascript">
           var dom2 = document.getElementById("container2");
var myChart2 = echarts.init(dom2);
var app = {};
option = null;
option = {
    title : {
        text: '空气中PM2.5含量',
        x:'center',
         textStyle: {
            color: '#fff',
            fontSize: 16
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['0~20','20~40','40~60','60~80','80~100'],
        textStyle: {
            color: '#fff',
            fontSize: 12
        }
    },
    series : [
        {
            name: 'PM2.5含量',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:{{ data_pm_2_5|safe }},
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
if (option && typeof option === "object") {
    myChart2.setOption(option, true);
}
</script>
<div id="container1" style="height: 500px;width: 80%;float: left"></div>
       <script type="text/javascript" src="../static/js/bmap.min.js"></script>
        <script type="text/javascript" src="../static/js/china.js"></script>
        <script type="text/javascript" src="../static/js/dark.js"></script>
        <script type="text/javascript" src="../static/js/echarts-gl.min.js"></script>
        <script type="text/javascript" src="../static/js/echarts.min.js"></script>
        <script type="text/javascript" src="../static/js/ecStat.min.js"></script>
       <script type="text/javascript">
var dom1 = document.getElementById("container1");
var myChart1 = echarts.init(dom1);
var app = {};
option = null;

var dataBJ = {{ BJ1|safe }};

var dataGZ = {{ GZ1|safe }};

var dataSH = {{ SH1|safe }};

var dataTY = {{ TY1|safe }};
var dataHZ = {{ HZ1|safe }};

var dataLZ = {{ LZ1|safe }};

var dataTJ = {{ TJ1|safe }};

var dataSZ = {{ SZ1|safe }};
var dataGL = {{ GL1|safe }};

var dataYN = {{ YN1|safe }};

var dataWH = {{ WH1|safe }};

var dataZZ = {{ ZZ1|safe }};
var dataHF = {{ HF1|safe }};

var dataCD = {{ CD1|safe }};

var dataNC = {{ NC1|safe }};

var dataSJZ = {{ SJZ1|safe }};
var dataWLMQ = {{ WLMQ1|safe }};
var dataNJ= {{ NJ1|safe }};

var schema = [
    {name: 'date', index: 0, text: '日'},
    {name: 'AQIindex', index: 1, text: 'AQI指数'},
    {name: 'PM25', index: 2, text: 'PM2.5'},
    {name: 'PM10', index: 3, text: 'PM10'},
    {name: 'SO2', index: 4, text: '二氧化硫(SO2'},
    {name: 'NO2', index: 5, text: '二氧化氮（NO2）'},
    {name: 'CO', index: 6, text: '一氧化碳（CO）'}
];


var itemStyle = {
    normal: {
        opacity: 0.8,
        shadowBlur: 10,
        shadowOffsetX: 0,
        shadowOffsetY: 0,
        shadowColor: 'rgba(0, 0, 0, 0.5)'
    }
};

option = {
    backgroundColor: '#0d1d2e',
    "title": {
        "text": "2017年12月城市空气质量数据",
        x: "center",
        top: '1',
        textStyle: {
            color: '#fff',
            fontSize: '16'
        },
        subtextStyle: {
            color: '#90979c',
            fontSize: '16',

        },
    },
    legend: {
        type: 'plain',
        y: 'top',
        top: '20',
        data: ['北京', '上海', '广州','深圳','南京','杭州','石家庄','天津','兰州','乌鲁木齐','桂林', '南昌', '成都','昆明','郑州','合肥','武汉','太原'],
        textStyle: {
            color: '#fff',
            fontSize: 16
        },
        selected: {
                '石家庄': false, '天津': false, '兰州': false, '乌鲁木齐': false, '桂林': false, '南昌': false, '成都': false, '昆明':false, '郑州': false, '合肥':false,
                '武汉': false, '太原': false
            }
    },
    grid: {
        x: '10%',
        x2: 150,
        y: '25%',
        y2: '10%'
    },
    tooltip: {
        padding: 10,
        backgroundColor: '#222',
        borderColor: '#777',
        borderWidth: 1,
        formatter: function (obj) {
            var value = obj.value;
            return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                + obj.seriesName + ' ' + value[0] + '日：'
                + value[7]
                + '</div>'
                + schema[1].text + '：' + value[1] + '<br>'
                + schema[2].text + '：' + value[2] + '<br>'
                + schema[3].text + '：' + value[3] + '<br>'
                + schema[4].text + '：' + value[4] + '<br>'
                + schema[5].text + '：' + value[5] + '<br>'
                + schema[6].text + '：' + value[6] + '<br>';
        }
    },

    xAxis: {
        type: 'value',
        name: '日期',
        nameGap: 16,
        nameTextStyle: {
            color: '#fff',
            fontSize: 14
        },
        max: 31,
        splitLine: {
            show: false
        },
        axisLine: {
            lineStyle: {
                color: '#eee'
            }
        }

    },
    yAxis: {
        type: 'value',
        name: 'AQI指数',
        nameLocation: 'end',
        nameGap: 20,
        nameTextStyle: {
            color: '#fff',
            fontSize: 16
        },
        axisLine: {
            lineStyle: {
                color: '#eee'
            }
        },
        splitLine: {
            show: false
        }
    },
    dataZoom: {
        id: 'dataZoomX',
        type: 'slider'
    },

    visualMap: [
        {
            left: 'right',
            top: '80',
            dimension: 1,
            min: 0,
            max: 150,
            itemWidth: 30,
            itemHeight: 120,
            calculable: true,
            precision: 0.1,
            text: ['圆形大小：AQI指数'],
            textGap: 30,
            textStyle: {
                color: '#fff'
            },
            inRange: {
                symbolSize: [10, 70]
            },
            outOfRange: {
                symbolSize: [10, 70],
                color: ['rgba(255,255,255,.2)']
            },
            controller: {
                inRange: {
                    color: ['#c23531']
                },
                outOfRange: {
                    color: ['#444']
                }
            }
        },
        {
            left: 'right',
            bottom: '70',
            dimension: 4,
            min: 0,
            max: 30,
            itemHeight: 120,
            calculable: true,
            precision: 0.1,
            text: ['明暗：二氧化硫'],
            textGap: 30,
            textStyle: {
                color: '#fff'
            },
            inRange: {
                colorLightness: [1, 0.5]
            },
            outOfRange: {
                color: ['rgba(255,255,255,.2)']
            },
            controller: {
                inRange: {
                    color: ['#121122', 'rgba(3,4,5,0.4)', 'red']
                },
                outOfRange: {
                    color: ['#444']
                }
            }
        }
    ],
    series: [
        {
            name: '北京',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataBJ
        },
        {
            name: '上海',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataSH
        },
        {
            name: '广州',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataGZ
        },
        {
            name: '深圳',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataSZ
        },
        {
            name: '杭州',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataHZ
        },
        {
            name: '兰州',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataLZ
        },
        {
            name: '天津',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataTJ
        },
        {
            name: '石家庄',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataSJZ
        },{
            name: '桂林',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataGL
        },
        {
            name: '南昌',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataNC
        },
        {
            name: '合肥',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataHF
        },
        {
            name: '郑州',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataZZ
        },
        {
            name: '太原',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataTY
        },
        {
            name: '昆明',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataYN
        },
        {
            name: '武汉',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataWH
        },
        {
            name: '成都',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataCD
        },
        {
            name: '乌鲁木齐',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataWLMQ
        },
        {
            name: '南京',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataNJ
        }
    ]
};
if (option && typeof option === "object") {
    myChart1.setOption(option, true);
}


</script>
</body>
</html>
